.webBox {
    flex-wrap: nowrap;
}

.rotate {
    transform: rotate(180deg);
}

.mobile-margin {
    padding-top: 135px;
}

.webLink:hover a {
    color: white;
}

.fit-content {
    width: fit-content;
}

@media screen and (max-width: 1070px) {
    .webBox {
        flex-wrap: wrap;
    }
    .mobile-margin {
        padding-top: 0;
    }
}